body{
    margin: 0 auto;
}

h1{
    font-family: $main-font;
}

.header-area{
    display: flex;
    width: 100%;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;

    .img-content{
        width: 20%;
        height: 100%;
    }

    .title-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        background-color: $white ;
    }
}