
.grid-area{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 80vh;

    .grid-border{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        border: 1px solid black;

        .case{
            flex-basis: 30%;
            flex-grow: 1;
            aspect-ratio: 1 / 1;
            border: 1px solid black;
            cursor: pointer;
            font-family: $main-font;
            display: flex;
            justify-content: center;
            align-items: center;

            .square{
                font-size: 50px;
                margin: 0 auto;
            }
        }
    }
}