
:root{
    --main-color : rgb(78, 25, 237) ;
    --black-color : rgb(0, 0, 0) ;
    --white-color : rgb(255, 255, 255) ;

    --main-font : Verdana, Geneva, Tahoma, sans-serif ;
}

$main : var(--main-color);
$black : var(--black-color);
$white : var(--white-color);

$main-font : var(--main-font);